.nav {
  background: linear-gradient(to bottom, #007af3, #8ed1fc);
  box-shadow: none;
}

.opening-section {
  border-bottom: none;
  padding-bottom: 1rem;
}

#main-title {
  grid-column: 1/-1;
  text-shadow: 0 0.25rem 0.25rem #c2c2c2;
  text-align: center;
}

.featured-articles {
  display: block;
  min-width: 27rem;
  margin: 0 auto;
}

.feature-article-card {
  display: block;
  max-width: 38rem;
  margin: 2rem auto;
}

.feature-article-card a {
  display: flex;
  justify-content: space-between;
}

.feature-article-card h2 {
  font-size: 1.25rem;
  padding: 1rem 0;
  text-align: left;
  margin: auto 0;
}

.feature-article-card a {
  color: #272727;
}

.feature-article-card a:hover {
  color: #007af3;
}

.img-box {
  float: left;
  width: 100%;
  max-width: 16rem;
  padding: 0 1rem 0 0;
}

.feature-article-img {
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  align-items: center;
}

.articles-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.articles-container-header {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1rem 0 2rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}

.article-card {
  padding: 0 0 1rem 1rem;
  border-bottom: none;
}

.article-card h2 {
  text-transform: uppercase;
  padding-bottom: 0.75rem;
  color: #000000;
}

.article-card h2:hover {
  text-shadow: 0 0.1rem 0.1rem #c2c2c2;
}

.article-card p {
  display: none;
}

.article-card-expand-btn {
  background-color: #ffffff;
  border: none;
  margin-top: 0.75rem;
  padding-left: 0;
  color: #4b4b4b;
  text-transform: uppercase;
  font-size: .75rem;
}

.article-card-expand-btn:hover {
  color: #007af3;
}

.article-card-img {
  width: 100%;
}

/* TABLET BREAKPOINT */
@media screen and (min-width: 768px) {
  .opening-section {
    padding-bottom: 2rem;
    border-bottom: 1px solid #cccccc;
  }

  .feature-article-card {
    width: 100%;
    max-width: inherit;
    margin: 1rem auto;
  }

  .feature-article-card a {
    display: block;
  }

  .feature-article-card h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
  }

  .img-box {
    width: 100%;
    max-width: 45rem;
    padding: 0 1rem 0 0;
  }

  .feature-article-img {
    max-width: inherit;
  }

  .articles-container {
    grid-column: 1/10;
    display: block;
    margin-top: 2rem;
  }

  .articles-container-header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 1rem 0 2rem 0;
    padding-bottom: 1rem;
    border-bottom: none;
  }

  .article-card {
    padding: 0 0 2rem 1rem;
    border-left: 0.5rem solid #5e5e5e;
    border-bottom: none;
  }

  .article-card:hover {
    border-left: 0.75rem solid #007af3;
  }
}

/* DESKTOP BREAKPOINT */
@media screen and (min-width: 1024px) {
  .nav-lip {
    background: linear-gradient(to bottom, #007af3, #8ed1fc);
    box-shadow: none;
  }

  .opening-section {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2rem;
  }

  .featured-articles {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .feature-article-card {
    grid-column: span 1;
    margin: 0;
  }

  .feature-article-card h2 {
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0;
  }

  .img-box {
    float: none;
    height: 13rem;
    width: 100%;
    padding: 0;
  }

  .feature-article-img {
    width: 100%;
    height: 100%;
    box-shadow: 0.25rem 0.5rem 0.5rem #cccccc;
  }

  .feature-article-img:hover {
    box-shadow: 0.25rem 0.25rem 0.25rem #4b4b4b;
    transition: box-shadow 0.2s ease-in-out;
  }

  .articles-container {
    grid-column: 2/13;
    border-right: 1px solid #cccccc;
    margin-top: 4rem;
    padding-top: 1rem;
  }

  .articles-container-header {
    font-size: 1.35rem;
    margin-top: 0;
    margin-bottom: 3rem;
    border-bottom: none;
  }

  .article-card {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 1rem 0;
    padding: 0 0 1.5rem 0;
    border-left: none;
    border-bottom: 1px solid #cccccc;
  }

  .article-card:hover {
    border-left: none;
    border-bottom: 0.125rem solid #007af3;
  }

  .article-card-text h2 {
    padding-bottom: 1rem;
  }
  
  .article-card p {
    display: block;
    font-size: .9375rem;
    margin-bottom: 1rem;
  }

  .article-card-expand-btn {
    margin-top: 1rem;
  }

  .article-card-img {
    display: block;
    float: right;
    width: 14rem;
    height: 9rem;
    object-fit: cover;
    padding: 0rem 1rem 1rem 1.5rem;
  }

  .misc-section {
    margin-top: 2rem;
    padding-top: 1rem;
  }

  .footer {
    margin-top: 4rem;
  }
}
