.nav {
  background: linear-gradient(to bottom, #007af3, #8ed1fc);
  box-shadow: none;
}

.opening-section h1 {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 0 0.25rem 0.25rem #c2c2c2;
}

.featured-articles {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.feature-article-card {
  grid-column: span 1;
}

.feature-article-card h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1rem;
}

.feature-article-card a {
  color: #272727;
}

.feature-article-card a:hover {
  color: #007af3;
}

.img-box {
  height: 13rem;
}

.feature-article-img {
  width: 100%;
  height: 100%;
  box-shadow: 0.25rem 0.5rem 0.5rem #cccccc;
}

.feature-article-img:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem #4b4b4b;
  transition: box-shadow 0.2s ease-in-out;
}

.articles-container {
  grid-column: 2/13;
  border-right: 1px solid #cccccc;
  margin-top: 4rem;
  padding-top: 1rem;
}

.articles-container-header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.article-card {
  margin: 2rem 2rem 1rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #cccccc;
}

.article-card h2 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: #000000;
}

.article-card h2:hover {
  text-shadow: 0 0.1rem 0.1rem #c2c2c2;
}

.article-card-expand-btn {
  background-color: #ffffff;
  border: none;
  margin-top: 1rem;
  padding-left: 0;
}

.article-card-expand-btn a {
  color: #4b4b4b;
  text-transform: uppercase;
}

.article-card-expand-btn a:hover {
  color: #007af3;
}

.article-card-img {
  float: right;
  width: 14rem;
  height: 9rem;
  object-fit: cover;
  padding: 0rem 0rem 1rem 1.5rem;
}

.misc-section {
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer {
  margin-top: 4rem;
}
