.nav {
  background: #8ed1fc;
}

.categories-section {
  grid-column: 1/-1;
  margin: 2rem auto;
  border-bottom: none;
}

.categories-container {
  display: flex;
  flex-direction: column;
  min-width: 27rem;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  color: #ffffff;
  background-color: #cccccc;
  width: 27rem;
  max-width: 40rem;
  height: 18rem;
  background-size: 150%;
  overflow: hidden;
  box-shadow: 0.25rem 0.5rem 0.5rem #cccccc;
  transition: opacity 0.5s, background-size 0.5s;
}

.category-container:hover {
  opacity: 0.8;
  background-size: 135%;
  color: #000000;
}

.category-container h2 {
  font-size: 2.2rem;
  text-shadow: 0 0.1rem 0.1rem #c2c2c2;
  transition: color 0.5s;
}

.feature-section {
  background-image: url("../images/customizable1.jpg");
  background-repeat: no-repeat;
  opacity: 0.9;
}

.recent-post-section {
  background-image: url("../images/featureImage-SizeDown.jpeg");
  background-repeat: no-repeat;
  opacity: 0.9;
}

.featured-product-section {
  background-image: url("../images/Corsair_K100_RGB.jpeg");
  background-repeat: no-repeat;
  opacity: 0.9;
}

.homepage-articles-section {
  grid-column: 1/-1;
  margin-top: 1rem;
  padding-top: 0;
  border-right: none;
}

.homepage-articles-header {
  font-size: 1.25rem;
  padding-top: 1.5rem;
}

.recent-post-card {
  display: block;
  margin: 2rem auto;
  padding-bottom: 4rem;
  border-bottom: 1px solid #cccccc;
}

.recent-post-card h2 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: #000000;
  font-size: 1.35rem;
}

.recent-post-card p {
  font-size: 1.125rem;
}

.recent-post-img {
  display: none;
}

.articles-section-expand-btn {
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.5px solid #000000;
  display: block;
  margin: 0 auto;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.articles-section-expand-btn:hover {
  background-color: #8ed1fc;
  color: #ffffff;
  border: none;
}

.about-author-section {
  grid-column: 1/-1;
  margin: 2rem 0;
  border-top: 1px solid #cccccc;
}

.about-author-section-header {
  text-transform: uppercase;
  text-shadow: 0 0.1rem 0.1rem #c2c2c2;
  font-size: 1.625rem;
  text-align: center;
  margin: 2rem auto;
}

.about-author-section-body {
  text-align: center;
  line-height: 2rem;
  color: #000000;
  font-size: 1.125rem;
  margin: 1rem 0;
}

.author-name {
  font-size: 1.125rem;
  color: #808080;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  padding-top: 1rem;
}

.author-description {
  text-align: left;
  line-height: 1.5rem;
}

.about-author-section img {
  float: left;
  max-width: 6rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  #main-title {
    font-size: 1.75rem;
  }

  .categories-section {
    padding: 1.5rem 0 4rem 0;
    border-bottom: 1px solid #cccccc;
  }

  .category-container {
    width: 40rem;
    max-width: 60rem;
    background-size: 180%;
  }

  .homepage-articles-section {
    margin-top: 0;
  }

  .homepage-articles-header {
    font-size: 1.5rem;
  }

  .recent-post-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin: 0 auto;
    border-bottom: none;
  }

  .recent-post-img {
    display: block;
    float: left;
    width: 15rem;
    height: 10rem;
    padding: 0 1rem 1.5rem 0;
  }

  .articles-section-expand-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-lip {
    background: #8ed1fc;
    box-shadow: none;
  }

  .nav {
    box-shadow: none;
    background: none;
  }

  .grid-container {
    max-width: 80rem;
  }

  .categories-section {
    grid-column: 1/-1;
    margin: 0 auto;
    border-bottom: 0.1rem solid #505050;
    padding: 1rem 0 5rem 0;
  }

  .categories-container {
    grid-column: 1/-1;
    margin: 0 auto;
  }

  .category-container {
    background-size: 200%;
  }

  .upper-categories {
    display: flex;
    width: 60rem;
    height: 28rem;
  }

  .bottom-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 62rem;
  }

  .recent-post-section {
    width: 30rem;
  }

  .featured-product-section {
    width: 30rem;
  }

  .category-container:hover {
    background-size: 150%;
  }

  .category-container h2 {
    font-size: 1.875rem;
  }

  .homepage-articles-section {
    grid-column: 3/19;
  }

  .homepage-articles-header {
    font-size: 1.75rem;
  }

  .recent-post-card {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .recent-post-img {
    width: 14rem;
    height: 10rem;
    object-fit: cover;
    padding: 0 1.5rem 1rem 0;
  }

  .articles-section-expand-btn {
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .about-author-section {
    padding: 4rem 9rem 0 9rem;
    border-top: 1px solid #cccccc;
  }

  .about-author-section-header {
    font-size: 2rem;
  }

  .about-author-section-body {
    text-align: left;
    line-height: 2.5rem;
    font-size: 1.25rem;
    margin: 2rem 0;
  }

  .author-name {
    font-size: 1.25rem;
    margin: 4rem 0 1rem 0;
    padding-top: 1rem;
  }

  .about-author-section img {
    float: left;
    max-width: 10rem;
  }

  .footer {
    margin-top: 3rem;
  }
}
