@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&display=swap");

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
dt,
dd,
a,
figure {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 100%;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: #ffffff;
  margin: 0 18rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #8ed1fc;
  box-shadow: 0 0.25rem 0.5rem #ffea00;
}

.title-logo {
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
  margin: 1.75rem 4rem 1.5rem 24rem;
  color: #ffffff;
}

.title-logo span {
  color: #000000;
}

.nav-logo {
  height: 4rem;
}

nav ul {
  list-style-type: none;
  padding-top: 1.75rem;
  padding-right: 24rem;
}

nav li {
  float: right;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 800;
  margin-left: 2rem;
}

nav li a {
  display: block;
  color: #ffffff;
}

.opening-section {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column: 2/-2;
  text-align: left;
  padding-bottom: 4rem;
  border-bottom: 1px solid #cccccc;
}

.article-page-main-title {
  grid-column: 1/-1;
  text-align: center;
  padding: 5rem 0 4rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
}

.light-article-main-title {
  margin: 1rem 4rem 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.35rem;
}

.opening-para {
  grid-column: 1/10;
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.opening-para h3 {
  text-align: center;
  font-style: italic;
  text-shadow: 0 0.1rem 0.1rem #c2c2c2;
  margin: 1.5rem 0;
}

.feature-img {
  grid-column: 11/-1;
  width: 100%;
  margin-top: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem #bebebe;
}

.main-content {
  grid-column: 2/13;
  width: 100%;
  border-right: 1px solid #cccccc;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.article-item {
  line-height: 2rem;
}

.article-item-header {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.article-item-text {
  text-align: justify;
  margin-bottom: 2rem;
  margin-right: 4rem;
}

.article-item-img {
  width: 90%;
  margin-bottom: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #dbdbdb;
}

.switch-table {
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  color: #272727;
  margin-bottom: 3.5rem;
}

.switch-table a {
  color: #000000;
}

.switch-table a:hover {
  color: #007af3;
}

.article-item-text-ender {
  font-size: 1.125rem;
  font-weight: 700;
}

thead {
  text-transform: uppercase;
  font-size: 1.1rem;
}

th,
td {
  border-bottom: 1px solid black;
}

td {
  font-weight: 700;
  font-size: 1rem;
}

.switch-table img {
  width: 80px;
  padding: 0;
  margin: 5px;
}

.comments-section {
  grid-column: 1 / 12;
  margin-top: 6rem;
  padding-right: 2rem;
}

.comments-section-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #cccccc;
}
.comments-section-header h3 {
  text-transform: uppercase;
  padding: 1rem 0 0.5rem 0;
}

.comments-section-header p {
  color: #808080;
  font-size: 0.9rem;
}

.user-comment-container {
  margin-top: 2rem;
}

.user-img {
  float: left;
  max-width: 3.5rem;
  padding-right: 1rem;
}

.comment-textarea {
  margin: 0 0 1rem 0;
}

.comment__button {
  width: 10rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-left: 4.5rem;
}

.comment__button:hover {
  background-color: #8ed1fc;
  border: none;
  color: #ffffff;
}

.comment-card {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid #cccccc;
}

.comment-card h4 {
  font-size: 0.8rem;
  color: #808080;
}

.comment-card p {
  line-height: 1.5rem;
  color: #272727;
}

.misc-section {
  grid-column: 13/-2;
  margin: 3rem 0 0 1rem;
}

.misc-section h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 1rem 1rem;
  background-color: #8ed1fc;
}

.misc-section ul,
ol {
  list-style-type: none;
  padding: 1rem 2rem 0 2.5rem;
}

.misc-section li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #272727;
  font-size: 1.125rem;
}

.misc-section a {
  color: #272727;
  font-weight: 700;
}

.misc-section a:hover {
  color: #007af3;
}

.article-links-section {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}

.article-links-items h4 {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #808080;
}

.product-links-section {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}

.product-links-items li {
  padding-top: 1.5rem;
}

.definitions-section {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}

.definitions-section dt {
  margin: 1.25rem 2.5rem 0;
  line-height: 1.75rem;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.definitions-section dd {
  margin: 0.25rem 2.5rem;
  text-align: justify;
  line-height: 1.75rem;
  font-weight: 500;
  color: #272727;
}

.form-section {
  grid-column: 13/19;
  background-color: #f2f2f2;
}

.user-contribution-container {
  width: 100%;
  margin-top: 1rem;
}

.user-contribution-container h3 {
  background-color: #ffffff;
  text-align: left;
  font-size: 1rem;
}

.user-contribution-container p {
  margin: 1rem 1.5rem;
}

fieldset {
  margin: 1.5rem 1rem;
}

legend {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 0.75rem;
  text-transform: uppercase;
}

input {
  width: 98%;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.form-buttons {
  width: 10rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}

.form-buttons:hover {
  background-color: #8ed1fc;
  border: none;
  color: #ffffff;
}

.pitch-input {
  width: 98%;
  height: 20rem;
}

.footer {
  color: #808080;
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 1rem auto;
}
