.nav {
  display: flex;
  position: sticky;
  top: 0;
  background: $color-main;
  box-shadow: 0 0.25rem 0.5rem $color-nav-shadow-1;
  z-index: 10;

  @media #{$tablet-bp} {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
  }

  @media #{$desktop-bp} {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: -5rem;
    max-width: 69rem;
    margin: 0 auto;
    box-shadow: none;
  }

  &-browse {
    background: linear-gradient(to bottom, $color-nav-browse_hover, $color-main);
    box-shadow: none;
  }

  &-homepage {
    box-shadow: none;
  }

  &__menu-button {
    display: block;
    height: 2rem;
    margin: 1.125rem 1.5rem 0.5rem auto;
  
    @media #{$tablet-bp} {
      display: none;
    }
  }

  ul {
    display: none;
    list-style-type: none;
  
    @media #{$tablet-bp} {
      grid-column: 4 / span 2;
      display: flex;
      justify-content: end;
      padding: 1.75rem 2rem 0 0;
      font-size: 1.5rem;
    }
  
    @media #{$desktop-bp} {
      grid-column: 4/6;
      justify-content: flex-end;
      padding: 1.75rem 0 1rem 0;
    }
  }
  
  li {
    float: right;
    text-transform: uppercase;
    font-size: 0.75rem;
  
    @media #{$tablet-bp} {
      font-size: 60%;
      padding-left: 1.25rem;
    }
  
    @media #{$desktop-bp} {
      font-size: 1.125rem;
      padding: 0 1.25rem;
    }
  }
  
  li a {
    display: block;
    color: $color-white;
    text-shadow: 0 0.1rem 0.1rem $color-shadow-header;
  }

  &-lip {
    @media #{$desktop-bp} {
      content: "";
      grid-column: 1/-1;
      z-index: -1;
      height: 5rem;
      width: 120rem;
      position: absolute;
      top: 0;
      background: $color-main;
      box-shadow: 0 0.25rem 0.5rem $color-nav-shadow-1;
    }
  
    &-browse {
      display: none;
  
      @media #{$desktop-bp} {
        display: block;
        background: linear-gradient(to bottom, $color-nav-browse_hover, $color-main);
        box-shadow: none;
      }
    }
  
    &-home {
      box-shadow: none;
      z-index: 0;
    }
  }

  &__logo {
    height: 3rem;
  
    @media #{$tablet-bp} {
      height: 3.5rem;
    }
    
    @media #{$desktop-bp} {
      display: block;
      margin: 0 auto;
      height: 4rem;
    }
  
    &-link {
      margin: 0.5rem 2rem 0.5rem 1.5rem;
    
      @media #{$tablet-bp} {
        grid-column: 3/4;
        margin: 0 auto;
        padding: 0.5rem 0;
      }
    
      @media #{$desktop-bp} {
        margin: 0 4rem 1rem 4rem;
        padding: 0;
      }
    }
  }
}

.title-logo {
  display: none;

  @media #{$tablet-bp} {
    display: block;
    grid-column: 1 / span 2;
    font-style: italic;
    font-size: 1.25rem;
    color: $color-white;
    margin: 1.5rem 2rem;
  }

  @media #{$desktop-bp} {
    grid-column: 1/2;
    margin: 1.75rem 4rem 1.5rem 0;
    color: $color-white;
  }

  span {
    @media #{$tablet-bp} {
      color: $color-black;
    }
  }
}
