.category-tag {
  display: inline-block;
  opacity: 80%;
  margin: 1rem 3rem 0 0;
  padding: 1rem;
  background-color: var(--color-main);
  color: var(--color-white);

  @media #{$desktop-bp} {
    position: sticky;
    top: 1rem;
    opacity: 100%;
  }
}

.recentpost-tag {
  background-color: var(--color-nav--browse_hover);
}

.regular-article-tag {
  background-color: #004080;
}
