.feature-img {
  display: block;
  position: relative;

  @media #{$desktop-bp} {
    grid-column: 11/-1;
    margin-top: 1rem;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 2rem auto;
    box-shadow: 0 0.5rem 0.5rem #bebebe;
  
    @media #{$tablet-bp} {
      margin: 3rem auto;
    }
  
    @media #{$desktop-bp} {
      max-width: 100%;
      margin: 0;
    }
  }

  &--overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-black);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;

    @media #{$tablet-bp} {
      margin: 0 auto;
    }

    @media #{$desktop-bp} {
      margin-bottom: 2.5rem;
    }

    &:hover {
      opacity: 0.8;
      color: var(--color-white);
    }
  }
}

.article-item__img {
  display: block;
  width: 90%;
  margin: 1rem auto;
  box-shadow: 0.5rem 0.5rem .5rem #dbdbdb;
  transition: box-shadow 0.3s ease-out;

  @media #{$tablet-bp} {
    display: block;
    margin: 1rem;
  }

  @media #{$desktop-bp} {
    grid-column: 2/12;
    margin: 1rem 0 2rem 0;
  }

  &:hover {
    box-shadow: 0.5rem 0.5rem 1rem var(--color-main);
  }
}

.user-img {
  float: left;
  max-width: 3.5rem;
  padding: 1rem 0.875rem;

  @media #{$tablet-bp} {
    padding: 1rem 0.5rem;
  }

  @media #{$desktop-bp} {
    padding-right: 1rem;
  }
}

.img-box {
  float: left;
  width: 100%;
  max-width: 16rem;
  padding: 0 1rem 0 0;

  @media #{$tablet-bp} {
    width: 100%;
    max-width: 45rem;
    padding: 0 1rem 0 0;
  }

  @media #{$desktop-bp} {
    float: none;
    height: 13rem;
    width: 100%;
    padding: 0;
  }
}

.feature-article-img {
  width: 100%;
  max-width: 15rem;
  margin: 0 auto;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.2s ease-in-out;

  @media #{$tablet-bp} {
    max-width: inherit;
  }

  @media #{$desktop-bp} {
    width: 100%;
    height: 100%;
    box-shadow: 0.25rem 0.5rem 0.5rem var(--color-line-border);

    &:hover {
      box-shadow: 0.25rem 0.25rem 0.25rem #4b4b4b;
      transform: scale(1.05);
    }
  }
}

.articles__article-card-img {
  width: 100%;

  @media #{$desktop-bp} {
    display: block;
    float: right;
    width: 14rem;
    height: 9rem;
    object-fit: cover;
    padding: 0rem 1rem 1rem 1.5rem;
  }
}

.recent-post-img {
  display: none;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.15);
  }

  @media #{$tablet-bp} {
    display: block;
    float: left;
    width: 15rem;
    height: 10rem;
    padding: 0 1rem 1.5rem 0;
  }

  @media #{$desktop-bp} {
    width: 14rem;
    height: 10rem;
    object-fit: cover;
    padding: 0 1.5rem 1rem 0;
  }
}

.about-author-section img {
  float: left;
  max-width: 6rem;
  padding: 1rem;

  @media #{$desktop-bp} {
    float: left;
    max-width: 10rem;
  }
}

.about-page-section img {
  width: 100%;
  margin: 0 auto;
}
