$color-main: #8ed1fc;
$color-nav-browse_hover: #007af3;
$color-nav-shadow-1: #ffea00;
$color-shadow-header: #c2c2c2;
$color-line-border: #cccccc;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #808080;
