<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>About Us</title>
  </head>
  <body>
    <header>
      <nav class="nav nav--about">
        <a class="title-logo" href="index.html">
          Clacks&
          <span>Thocc</span>
        </a>
        <a class="nav__logo-link" href="index.html">
          <img
            class="nav__logo"
            src="../images/keyboard-logo.png"
            alt="colored keyboard logo"
          />
        </a>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="browse-page.html">Articles</a></li>
          <li>
            <a href="about-page.html" target="_blank">About Us</a>
          </li>
        </ul>
        <img
          class="nav__menu-button"
          src="../images/burger-menu.png"
          alt="menu button"
        />
      </nav>
      <div class="nav__lip nav__lip--about"></div>
    </header>
    <div class="grid-container">
      <section class="about-page-section">
        <h2 class="about-page-section__header">Clacks & Thocc</h2>
        <p class="about-page-section__body">
          Clacks & Thocc is basically a "Heavily Inspired" online media
          platform, similar to how China copies every tech giant and sell them
          for cheap. We are focused on giving an amatuer, newbie slow push touch
          to the world of Mechanical Keyboards. That being said, Clacks & Thocc
          are determined to give professional content to all enthusiast, both
          new and broke.
        </p>
        <div class="authors-section-header">
          Meet the Writers
        </div>
        <div class="author-cards-container">
          <div class="author-card">
            <img src="../images/user.png" alt="author photo" />
            <div class="author-card__content">
              <h2 class="author-card__content-name">Left Author</h2>
              <p class="author-card__content-description">
                Molded from modding, Left is the resident expert on all things
                modding. Your board is guaranteed to sound better after diving
                into they're work.
              </p>
            </div>
          </div>
          <div class="author-card">
            <img src="../images/user.png" alt="author photo" />
            <div class="author-card__content">
              <h2 class="author-card__content-name">Main Author</h2>
              <p class="author-card__content-description">
                Author is the primary contributor to the site, both content and
                structure. Author is growing enthusiast for custom builds and
                modding.
              </p>
            </div>
          </div>
          <div class="author-card">
            <img src="../images/user.png" alt="author photo" />
            <div class="author-card__content">
              <h2 class="author-card__content-name">Right Author</h2>
              <p class="author-card__content-description">
                Right has the tech and theories for everything: From how
                opticals differ from mechanicals, to how the PCB layout affects
                the isolation of keys and rollover.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <p>&copy; 2022 - Sample Article Browse Page.</p>
    </footer>
  </body>
</html>
