<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>
      Why Mechanical Keyboards are Better for Gaming - Clacks & Thocc
    </title>
  </head>
  <body>
    <nav class="nav">
      <a class="title-logo" href="/view/browse-page.html">
        Clacks&
        <span>Thocc</span>
      </a>
      <img
        class="nav-logo"
        src="/images/keyboard-logo.png"
        alt="colored keyboard logo"
      />
      <ul>
        <li><a href="/view/browse-page.html">Home</a></li>
        <li>
          <a
            href="https://www.codeandtheory.com/location/manila"
            target="_blank"
          >
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="grid-container">
      <section class="opening-section">
        <header class="article-page-main-title">
          <h1>Why Mechanical Keyboards are Better For Gaming</h1>
        </header>
        <div class="opening-para">
          <p>
            Mechanical keyboards are great to use for gaming for a multitude of
            reasons and are incredibly fun to play with. While mechanical
            keyboards are slightly more expensive than traditional keyboards,
            they are definitely worth the price.
          </p>
          <h3>
            For a lack of better words, Mechanical Keyboards are just absolutely
            more satisfying to use. But thats not all.
          </h3>
          <p>
            There are a ton of other cool features included in mechanical
            keyboards, so we'll go more in-depth and talk about each one. We
            listed out 6 reasons why we think mechanical keyboards are better
            for gaming.
          </p>
        </div>
        <img
          class="feature-img"
          src="/images/featureImage-Keeb.jpg"
          alt="Keychron-K12-image-on-desk"
        />
      </section>
      <main class="main-content">
        <div class="article-item">
          <h2 class="article-item-header">1. Programmable Keys</h2>
          <p class="article-item-text">
            An awesome feature that comes with some mechanical keyboards is the
            ability to program certain keys. This will allow you to set commands
            and shortcuts to keys of your choice. If you constantly use a
            combination of keys, you can set that to a programmable key that is
            easy and fast to press in the middle of the action. You can also
            customize the controls in certain games to a more efficient layout
            that improves your competitive level.
          </p>
          <p class="article-item-text">
            Make sure when purchasing a mechanical keyboard that they have
            programmable keys, because not all keyboards have this feature. It
            usually requires the keyboard to use special software and certain
            companies have better software than others. Before purchasing a
            keyboard with programmable keys, do some research to make sure the
            software is reliable and easy to use or else it can be a headache to
            set up.
          </p>
        </div>
        <div class="article-item">
          <h2 class="article-item-header">2. Extremely Durable</h2>
          <p class="article-item-text">
            Mechanical keyboards are known for their incredible durability and
            superior build quality when compared to the traditional rubber
            dome/membrane style keyboards. For mechanical keyboards each key
            gets its own independent switch, so for each keystroke there is a
            dedicated switch to register the movement. The way these keyboards
            are built allows for a very consistent and responsive gaming
            experience.
          </p>
          <img
            class="article-item-img"
            src="/images/durability-test.jpg"
            alt="Durability test for mechanical keyboard"
          />
          <p class="article-item-text">
            The mechanical switches used in the production of mechanical
            keyboards are often rated for 50 million keystrokes, with some
            companies such as Cherry are rated up to 100 million keystrokes.
            This means you can use your keyboards for years before you even
            start to notice any wear and tear or a drop-in performance. Many of
            the first mechanical keyboards, such as the famous IBM Model M, are
            still in working condition to this day and they have been used for
            almost 40 years.
          </p>
        </div>
        <div class="article-item">
          <h2 class="article-item-header">3. N-Key Rollover</h2>
          <p class="article-item-text">
            Do you ever have the issue when typing where you press two keys at
            the same time and only one of them registers? Well with N-key
            rollover that problem is totally resolved. You can press up to a
            certain number of keys at the same time and all of the keystrokes
            will register. This is usually referred to as N-key rollover, a
            keyboard that has 6-key rollover allows you to press up to 6 keys at
            the same time and they will all register. Many mechanical keyboards
            offer this feature, so make sure to check the product description
            before purchase.
          </p>
          <p class="article-item-text">
            N-key rollover is incredibly useful for gaming. In the middle of a
            game, you want to make sure all of your keystrokes register so
            you're able to operate the controls in the most accurate way
            possible. If only half your keystrokes are actually taken by the
            system, your performance will undoubtedly suffer. N-key rollover is
            also very useful for people who are fast at typing and get up to a
            speed where they need to press two keys at virtually the same time.
            N-key rollover makes typing more enjoyable experience when you know
            the keys will always register.
          </p>
          <img
            class="article-item-img"
            src="/images/NkeyRollover.jpg"
            alt="Pressing Multiple keys"
          />
        </div>
        <div class="article-item">
          <h2 class="article-item-header">4. Better Response Time</h2>
          <p class="article-item-text">
            Mechanical keyboards offer a much faster response time than other
            types of keyboards. Response time is the amount time it takes from
            when the key is pressed to when it is registered by your system.
            Mechanical keyboards offer unparalleled response time due to the
            design of the switches. This allows you to get an immediate response
            when pressing a key instead of having a small lag time between the
            keystroke and the registering of the movement.
          </p>
          <p class="article-item-text">
            There are certain types mechanical switches that offer better
            response times. Optical switches are a type of switch that give
            milliseconds better time when pressed. There are also low-profile
            switches that lower the actuation distance of the switch to make
            each key press faster. Keep in mind, these switch types offer faster
            response times, but they are usually not as enjoyable to type on, so
            there is a trade-off for using low-profile or optical switches.
          </p>
        </div>
        <div class="article-item">
          <h2 class="article-item-header">
            5. Customize Switches for Competitive Advantage
          </h2>
          <p class="article-item-text">
            As we briefly mentioned before, there are a ton of different
            mechanical keyboard switches to choose from. You are able to choose
            between tactile, linear, clicky, heavy, and light switches.
          </p>
          <img
            class="article-item-img"
            src="/images/customizable3.jpg"
            alt="Pressing Multiple keys"
          />
          <p class="article-item-text">
            If you enjoy getting feedback from your keyboard you can use a
            tactile switch. If you like a smooth keypress, you can use linear
            switches. If you tend to press down hard on your keys, you can use a
            heavy switch to help protect your fingers from impact. There are a
            ton of different ways to customize your keyboard with different
            switch types.
          </p>
          <img
            class="article-item-img"
            src="/images/customizable2.jpg"
            alt="Pressing Multiple keys"
          />
          <p class="article-item-text">
            Don't be afraid to test out several different switch types to figure
            out what you enjoy the most. Keep in mind, linear switches are
            generally considering the best for gaming. This doesn't mean you
            can't use tactile switches, a lot of gamers just feel that the
            tactile bump can be distracting when trying to game so they prefer
            linear switches. Many gamers use linear switches for the WASD &
            arrows keys and then do tactile switches for the rest of the keys to
            get around this issue. I can be helpful to have a keyboard with
            hot-swaps to make it easy to change out the switches.
          </p>
          <h2 class="article-item-header">Most Popular Switches</h2>
          <table class="switch-table">
            <thead>
              <tr>
                <th></th>
                <th>Switch Name</th>
                <th>Type</th>
                <th>Actuation Force</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="/images/CherryRed.png" alt="Cherry Red Switch" />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Original-Switches-Mechanical-Keyboard-Puller/dp/B09GVRS32J/ref=sr_1_1_sspa?keywords=cherry%2Bred%2Bswitches&qid=1655712196&sprefix=Cherry%2BRed%2Caps%2C352&sr=8-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExVjAwTURTWTc3WUdXJmVuY3J5cHRlZElkPUEwNTM5OTI5MVoyTVkzMlRNSzRURSZlbmNyeXB0ZWRBZElkPUEwNzc1MTk1TkNMV0I2TlYyWjZIJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ&th=1"
                    target="_blank"
                  >
                    Cherry Red
                  </a>
                </td>
                <td>Linear</td>
                <td>45 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/CherryBrown.png"
                    alt="Cherry Brown Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Cherry-Switches-MX1A-L1NA-Mechanical-Keyboard/dp/B0852QJ8PJ/ref=sr_1_3?crid=10BL3HM8IGT4O&keywords=cherry%2Bbrown%2Bswitches&qid=1655712257&sprefix=cherry%2Bbrownswitches%2Caps%2C300&sr=8-3&th=1"
                    target="_blank"
                  >
                    Cherry Brown
                  </a>
                </td>
                <td>Linear</td>
                <td>55 cN</td>
              </tr>
              <tr>
                <td>
                  <img src="/images/CherryBlue.png" alt="Cherry Blue Switch" />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Cherry-Blue-Keyswitch-pack-himalayanelixir/dp/B01N2L8RR2/ref=sr_1_4?crid=13OW40ILDZMR0&keywords=cherry%2Bblue%2Bswitches&qid=1655712286&sprefix=cherry%2Bbluswitches%2Caps%2C298&sr=8-4&th=1"
                    target="_blank"
                  >
                    Cherry Blue
                  </a>
                </td>
                <td>Clicky</td>
                <td>60 cN</td>
              </tr>
              <tr>
                <td>
                  <img src="/images/GateronRed.png" alt="Gateron Red Switch" />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Switches-Mechanical-Keyboards-White-Shell-Supporting/dp/B0973853D9/ref=sr_1_1_sspa?keywords=gateron%2Bred%2Bswitches&qid=1655712324&sprefix=gateron%2Bred%2Caps%2C316&sr=8-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySDBLUVAwQ0ZOUkFXJmVuY3J5cHRlZElkPUEwMzIyMjU3QUFDMFYyTkFKQTQmZW5jcnlwdGVkQWRJZD1BMDUwMTY2NjFGS1lSQjBVSU5aMVgmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl&th=1"
                    target="_blank"
                  >
                    Gateron Red
                  </a>
                </td>
                <td>Linear</td>
                <td>45 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/GateronBlue.png"
                    alt="Gateron Blue Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Switches-Underglow-Compatible-Mechanical-Transparent/dp/B07K84HPHT/ref=sr_1_4?crid=1TWNM0VQW7CUI&keywords=gateron%2Bblue%2Bswitches&qid=1655712378&sprefix=gateron%2Bblue%2Bswitches%2Caps%2C650&sr=8-4&th=1"
                    target="+https://www.amazon.com/Switches-Underglow-Compatible-Mechanical-Transparent/dp/B07K84HPHT/ref=sr_1_4?crid=1TWNM0VQW7CUI&keywords=gateron%2Bblue%2Bswitches&qid=1655712378&sprefix=gateron%2Bblue%2Bswitches%2Caps%2C650&sr=8-4&th=1"
                    target="_blank"
                  >
                    Gateron Blue
                  </a>
                </td>
                <td>Clicky</td>
                <td>50 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/KailhBoxJade.png"
                    alt="Kailh Box Jade Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Kailh-Box-Switches-Mechanical-Keyboards/dp/B09WYV6MTJ/ref=sr_1_3?keywords=kailh%2Bbox%2Bjade%2Bswitches&qid=1655712464&sprefix=kailh%2Bbox%2Caps%2C324&sr=8-3&th=1"
                    target="_blank"
                  >
                    Kailh Box Jade
                  </a>
                </td>
                <td>Clicky</td>
                <td>50 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/KailhBoxBrown.png"
                    alt="Kailh Box Brown Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Kailh-Switches-Mechanical-Gaming-Keyboards/dp/B0841H86GC/ref=sr_1_3?crid=3J0M6I86HZBVJ&keywords=kailh%2Bbox%2Bbrown%2Bswitches&qid=1655712486&sprefix=kailh%2Bbox%2Bbrownswitches%2Caps%2C287&sr=8-3&th=1"
                    target="_blank"
                  >
                    Kailh Box Brown
                  </a>
                </td>
                <td>Tactile</td>
                <td>45 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/GateronMilkyYellow.png"
                    alt="Gateron M Yellow Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Gateron-Switches-%EF%BC%8CMechanical-Keyboard-Mechanical/dp/B09JSM1911/ref=sr_1_3?keywords=gateron%2Bmilky%2Byellow%2Bswitches&qid=1655712525&sprefix=gatero%2Caps%2C318&sr=8-3&th=1"
                    target="_blank"
                  >
                    Gateron Milky Yellow
                  </a>
                </td>
                <td>Linear</td>
                <td>50 cN</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="/images/GloriousPanda.png"
                    alt="Glorious Panda Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://www.amazon.com/Mechanical-Keyboard-Two-Stage-Enhance-Paragraph/dp/B09D3FK5VG/ref=sr_1_1_sspa?keywords=glorious%2Bpanda%2Bswitches&qid=1655712552&sprefix=glorious%2Bpa%2Caps%2C309&sr=8-1-spons&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzMEhYREdaSjlaVFNGJmVuY3J5cHRlZElkPUEwNjkxMjQ3QlpPS1hMOTFNVlVUJmVuY3J5cHRlZEFkSWQ9QTA0Mjc5MDA2TEdHRERNV1hLTEQmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl&th=1"
                    target="_blank"
                  >
                    Glorious Panda
                  </a>
                </td>
                <td>Tactile</td>
                <td>67 cN</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <img
                    src="/images/TangerineV2.png"
                    alt="Tangerine V2 Switch"
                  />
                </td>
                <td>
                  <a
                    href="https://thekey.company/products/c3-tangerine-switches-r2"
                    target="_blank"
                  >
                    Tangerine V2
                  </a>
                </td>
                <td>Linear</td>
                <td>62 cN</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="article-item">
          <h2 class="article-item-header">6. As loud as you (don't) want</h2>
          <img
            class="article-item-img"
            src="/images/customizable4.jpg"
            alt="Pressing Multiple keys"
          />
          <p class="article-item-text">
            When most people think of mechanical keyboards, they think of loud
            and clicky switches but there are also silent switches out there as
            well. Some people enjoy louder switches because it lets them get
            audible feedback from their keystrokes, but for others the noise can
            be distracting. Loud switches can also be irritating if you speak
            over a microphone to friends or if you have other people in the same
            room as you. If that's the case, we recommend checking out some
            different silent switches, you get all the benefits of a normal
            switch except its extremely quiet and less distracting.
          </p>
          <p class="article-item-text">
            There are other factors that affect the keyboard sound levels. You
            can always install O-rings to your keys to dampen the sound levels
            if you feel your switches are too loud. Another factor is the design
            of your keyboard case, if the case is plastic or assembled poorly,
            the keyboard will rattle when typing which can be quite loud. We
            recommend getting a keyboard with an aluminum case to avoid the
            rattle or make sure the plastic case is solid and well put together.
          </p>
        </div>
        <div class="article-item">
          <h3 class="article-item-header">Conclusion</h3>
          <p class="article-item-text">
            Some of the features we included on the list you are able to find on
            normal keyboards, but they can be rare or difficult to find.
            However, on mechanical keyboards those features are much more
            commonplace and easier to get. From better durability, N-key
            rollover, switch customization, fast response times, RGB lighting,
            there are just so many cool features that come with mechanical
            keyboards. It's hard to justify not using one. A piece of parting
            advice- avoid the typical “gaming” mechanical keyboard branding and
            advertising some companies do, as they tend to price gouge a bit
            because they sell keyboards based off of company name, not the
            actual quality of the keyboards. Try doing more research, dive into
            community discussions, and go and try out different keyboards
            regardless of the brand. The beauty of Mechanical Keyboard is that
            you have as much control over your board for as far as you allow
            yourself to. So learn everything you can, and just make the call on
            your first board. Trust us, your best board starts when you make
            your first click.
          </p>
          <img
            class="article-item-img"
            src="/images/customizable1.jpg"
            alt="Pressing Multiple keys"
          />
          <p class="article-item-text-ender">Happy Typing!</p>
        </div>
        <section class="comments-section">
          <div class="comments-section-header">
            <h3>Start a Discussion</h3>
            <p>Informative article? Leave a comment down below!</p>
          </div>
          <div class="user-comment-container">
            <img
              class="user-img"
              src="/images/user.png"
              alt="user profile image"
            />
            <textarea
              class="comment-textarea"
              name="comment-box"
              id="comment-box"
              cols="63"
              rows="6"
              placeholder="Add a comment ..."
            ></textarea>
            <button class="comment__button">Comment</button>
          </div>
          <div class="comment-card">
            <img
              class="user-img"
              src="/images/user.png"
              alt="user profile image"
            />
            <h4>username</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="comment-card">
            <img
              class="user-img"
              src="/images/user.png"
              alt="user profile image"
            />
            <h4>username</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="comment-card">
            <img
              class="user-img"
              src="/images/user.png"
              alt="user profile image"
            />
            <h4>username</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </section>
      </main>
      <section class="misc-section">
        <div class="article-links-section">
          <h3>Dig Deeper, newbie Enthusiast</h3>
          <ul class="article-links-items">
            <h4>Baby steps</h4>
            <li><a href="#">How To build a Custom Keyboard</a></li>
            <h4>Get unstuck</h4>
            <li><a href="#">Keyboard Error Troubleshooting for Dummies!</a></li>
            <h4>Risk Taker?</h4>
            <li><a href="#">Best Unorthodox Keyboard Layout</a></li>
            <h4>Wants and wants</h4>
            <li><a href="#">The Stabilizers you (DON'T) NEED</a></li>
          </ul>
        </div>

        <div class="product-links-section">
          <h3>Ready to clack? Try these Editors' choices</h3>
          <ol class="product-links-items">
            <li>
              <a
                href="https://www.gloriousgaming.com/products/glorious-gmmk-pro-75-barebone-black"
                target="_blank"
              >
                GLORIOUS GMMK Pro
              </a>
            </li>
            <li>
              <a
                href="https://rog.asus.com/ph/keyboards/keyboards/compact/rog-falchion-model/"
                target="_blank"
              >
                ASUS ROG Falcion
              </a>
            </li>
            <li>
              <a
                href="https://www.keychron.com/products/keychron-k1-wireless-mechanical-keyboard"
                target="_blank"
              >
                Keychron K1 V5
              </a>
            </li>
            <li>
              <a
                href="https://rkgamingstore.com/collections/61-keys"
                target="_blank"
              >
                RK61 60% Mechanical Keyboard
              </a>
            </li>
            <li>
              <a
                href="https://www.razer.com/gaming-keyboards/razer-huntsman-v2-tenkeyless"
                target="_blank"
              >
                RAZER Hunstman V2 Tenkeyless
              </a>
            </li>
          </ol>
        </div>

        <div class="definitions-section">
          <h3>Jargon got you stuck? Here's a cheat sheet</h3>
          <dl>
            <dt>Mechanical</dt>
            <dd>
              Refers to how a keyboard is constructed using separate components
              to mechanically actuate a click.
            </dd>
            <dt>Switch</dt>
            <dd>
              Not your light switch. A keyboard switch is the individual
              mechanical part that is actuated to perform a keyboard input. This
              is what differentiates a mechanical keyboard with a membrane
              keyboard.
            </dd>
            <dt>Stabilizer</dt>
            <dd>
              Often shortened to "stabs", these keep the big keys like the
              spacebar leveled and secure on the keyboard. Why? Because no one
              likes a wobble, especially on a keyboard.
            </dd>
            <dt>Cherry</dt>
            <dd>
              Sorry, but not the fruit. Cherry is the most common Switch brand
              in the space, popularizing the "Cherry style stem" that most other
              brands use on their switches.
            </dd>
            <dt>Budol</dt>
            <dd>
              Directly translates to "con", this term is usually used among
              keyboard enthusiasts when a new product comes out and we couldn't
              help but request for a salary advance to join the group buy. . .
              <br />
              Trust me, you'll understand soon enough.
            </dd>
          </dl>
        </div>

        <div class="form-section">
          <div class="user-contribution-container">
            <h3>
              Liking the content so far? We're sure you have something better in
              mind.
            </h3>
            <p>
              Share your idea with us and we'll feature you in our next article.
              Clack away!
            </p>
            <form class="user-form">
              <fieldset>
                <legend>Topic Suggestion</legend>
                <div>
                  <label for="subject-line">Subject</label>
                  <input type="text" id="subject-line" />
                </div>
                <div>
                  <label for="topic-line">Topic Title</label>
                  <input type="email" id="topic-line" />
                </div>
                <div>
                  <label for="pitch">Give us the Pitch</label>
                  <textarea class="pitch-input" id="pitch"></textarea>
                </div>
              </fieldset>
              <fieldset>
                <legend>Personal Information</legend>
                <div>
                  <label for="full-name">Full Name</label>
                  <input type="text" id="full-name" />
                </div>
                <div>
                  <label for="user-email">Email</label>
                  <input type="email" id="user-email" />
                </div>
                <div>
                  <label for="user-number">Contact Number</label>
                  <input type="tel" id="user-number" />
                </div>
              </fieldset>
              <div class="buttons-wrapper">
                <button class="form-buttons" type="submit">
                  Submit
                </button>
                <button class="form-buttons" type="reset">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <p>
        &copy; 2022 - Sample Article Page. Article taken from switchandclick.com
      </p>
    </footer>
  </body>
</html>
