<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/browse-page.css" />
    <title>Clacks & Thocc - Browse</title>
  </head>
  <body>
    <nav class="nav">
      <a class="title-logo" href="index.html">
        Clacks&
        <span>Thocc</span>
      </a>
      <img
        class="nav-logo"
        src="../images/keyboard-logo.png"
        alt="colored keyboard logo"
      />
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>
          <a
            href="https://www.codeandtheory.com/location/manila"
            target="_blank"
          >
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <section class="grid-container">
      <div class="opening-section">
        <header class="article-page-main-title">
          <h1>Lorem Ipsum Dolor sit amet</h1>
        </header>
        <div class="featured-articles">
          <figure class="feature-article-card">
            <a href="detail-page-sample1.html">
              <div class="img-box">
                <img
                  class="feature-article-img"
                  src="../images/featureImage-SizeDown.jpeg"
                  alt="two keyboard sizes"
                />
              </div>
              <h2>Down-sizing your keyboard: should you even?</h2>
            </a>
          </figure>
          <figure class="feature-article-card">
            <a href="detail-page-sample2.html">
              <div class="img-box">
                <img
                  class="feature-article-img"
                  src="../images/featureImage-whiteKeeb.jpeg"
                  alt="White Keyboard and clean desk"
                />
              </div>
              <h2>How to start a Clean Setup. Coffee not included.</h2>
            </a>
          </figure>
          <figure class="feature-article-card">
            <a href="detail-page-sample3.html">
              <div class="img-box">
                <img
                  class="feature-article-img"
                  src="../images/featureImage-Typing2.jpeg"
                  alt="typing on a keyboard"
                />
              </div>
              <h2>Typing adjustment and how to make it easier</h2>
            </a>
          </figure>
        </div>
      </div>
      <section class="articles-container">
        <h1 class="articles-container-header">
          == Continue exploring below ==
        </h1>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/customizable1.jpg"
            alt="compact keyboard"
          />
          <a href="article-page.html">
            <h2>Why Mechanical Keyboards are Better for Gaming</h2>
          </a>
          <p>
            Mechanical keyboards are great to use for gaming for a multitude of
            reasons and are incredibly fun to play with.
          </p>
          <button class="article-card-expand-btn">
            <a href="article-page.html">continue reading ...</a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-Typing.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample1.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-OfficeSetup.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample2.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-CrazyBoard.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-Soldering.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-compactKeeb.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-TypingGaming.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-KeychronK1.png"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
        <figure class="article-card">
          <img
            class="article-card-img"
            src="../images/featureImage-OfficeSetup.jpeg"
            alt="compact keyboard"
          />
          <a href="detail-page-light-sample1.html">
            <h2>Lorem Ipsum Dolor sit amet</h2>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button class="article-card-expand-btn">
            <a href="detail-page-light-sample2.html">
              continue reading ...
            </a>
          </button>
        </figure>
      </section>
      <aside class="misc-section">
        <div class="form-section">
          <div class="user-contribution-form">
            <h3>
              Liking the content so far? We're sure you have something better in
              mind.
            </h3>
            <p>
              Share your idea with us and we'll feature you in our next article.
              Clack away!
            </p>
            <form>
              <fieldset>
                <legend>Topic Suggestion</legend>
                <div>
                  <label for="subject-line">Subject</label>
                  <input type="text" id="subject-line" />
                </div>
                <div>
                  <label for="topic-line">Topic Title</label>
                  <input type="email" id="topic-line" />
                </div>
                <div>
                  <label for="pitch">Give us the Pitch</label>
                  <textarea class="pitch-input" id="pitch"></textarea>
                </div>
              </fieldset>
              <fieldset>
                <legend>Personal Information</legend>
                <div>
                  <label for="full-name">Full Name</label>
                  <input type="text" id="full-name" />
                </div>
                <div>
                  <label for="user-email">Email</label>
                  <input type="email" id="user-email" />
                </div>
                <div>
                  <label for="user-number">Contact Number</label>
                  <input type="tel" id="user-number" />
                </div>
              </fieldset>
              <div class="buttons-wrapper">
                <button class="form-buttons" type="submit">
                  Submit
                </button>
                <button class="form-buttons" type="reset">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </aside>
    </section>
    <div class="footer">
      <p>&copy; 2022 - Sample Article Browse Page.</p>
    </div>
  </body>
</html>
